
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
    padding: 20px;
}


header {
    text-align: center;
    padding: 20px 0;
}


.intro {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 30px 0;
}

.intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.interests h2 {
    margin-bottom: 10px;
}

.interest-cards {
    display: flex;
    gap: 15px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}


.showcase-grid h2 {
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.item {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 8px;
}

footer {
    margin-top: 40px;
    text-align: center;
    opacity: 0.7;
}


@media (max-width: 600px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }
}
